@media(min-width: 320px) and (max-width: 575px){
    nav button i{
        color: #fff;
    }
    .navbar ul{
        background-color: #d6c6b2;
        text-align: center;
        border-radius: 5px;
        padding: 10px 0px;
    }
    .navbar ul li a{
        padding: 5px 0px;
    }
    .navbar ul li a:hover{
        color: #000 !important;
    }
    .navbar ul li a::after {
	    width: 0%;
	    background: transparent;
    }
    #banner .row .img img {
	    display: none !important;
    }
    
    
    
    #banner .row .details {
	    margin: 0;
        padding: 0;
	
    }
    #banner .row .details p{
	    margin: 0;
        padding-top: 90px;
        padding-right: 0;
        text-align: center
	
    }
    #banner .row .details h2{
	    font-size: 62px;
        padding-top: 20px;
        text-align: center
	
    }
    #banner .row .details h1{
	    font-size: 57px;
        text-align: center
	
    }
    #banner .row .details .btn{
	    padding-bottom: 60px;
        width: 100%;
	
    }
    #banner .row .details .btn a{
	    font-size: 12px;
        margin: 0px 30px;
	
    }
    
    
    
    #about-part{
        padding-top: 0;
        padding-bottom: 60px;
    }
    
    #about-part .img img {
	width: 100%;
	display: block;
    }
    
    #about-part .details {
	text-align: center;
    }
    
    
    .slick-prev {
	width: 25px;
	height: 25px;
	left: 53%;
    }
    .slick-next {
	width: 25px;
	height: 25px;
	right: 53%;
    }
    
    .slider-btn .prev {
	    left: 35%;
	    font-size: 28px;
        bottom: -3px;
    }
    
    .slider-btn .next {
	right: 35%;
	font-size: 28px;
        bottom: -3px;
    }
    
    
    
    
    #portfolio-part .details h2 {
	font-size: 24px !important;
	text-align: center;
	margin-bottom: 25px !important;
    }
    
    #portfolio-part .row .details ul {
    margin: 0;
    text-align: center;
    }
    #portfolio-part .row .details ul li {
      margin-bottom: 16px;
      font-size: 14px;
      display: inline-block;
      border: 1px solid black;
      padding: 5px;
    }
    
    #portfolio-part .row .img-part .img {
	width: 100%;
    }
    
    
    #testi-part .testi-slider .main{
        display: block !important;
        text-align: center;
    }
    .testi-slider .testi-item .img{
        margin: 0;
    }
    .testi-slider .testi-item .img img{
        display: inline-block;
    }
    .testi-slider .testi-item .details h3{
        margin-top: 0;
    }
    #testi-part .slider-btn .prev{
        bottom: -38px;
    }
    #testi-part .slider-btn .next{
        bottom: -38px;
    }
    .pricing-item ul {
	padding-left: 0;
    }
    
    
    
    
    #blog-part .row .main{
        display: block !important;
    }
    #blog-part .row .blog-item-1 .img {
	width: 100%;
    }
    #blog-part .row .blog-item-1 .details {
	width: 100%;
    margin-left:0px;
    }
    .blog-item-1 .details h3 {
	font-size: 16px;
    }
    .blog-item-1 .details p{
        padding: 0;
    }
    
    
    
    .footer-1 .row .details .icon i {
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-size: 15px;
}
    #blog-part .row .blog-item .details {
	padding: 0px;
}
    #blog-part .row .blog-item .details h3{
	text-align: left !important;
}
      #blog-part .row .blog-item .details p{
	text-align: left !important;
}
    .details .blog-read .right-blog {
	float: left;
}
    .details .blog-read .left-blog {
	float: left;
}
}